first_task.dtd

<?xml version="1.0"?>
<!DOCTYPE store[
<!ELEMENT store(Items,price,Opening_Time,Closing_Time)>
<!ELEMENT Items (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT Opening_Time (#PCDATA)>
<!ELEMENT Closing_Time (#PCDATA)>
]>
<store title="Books Stacks">
<Items>story_books</Items>
<price>100-500Rs</price>
<Opening_Time>2pm</Opening_Time>
<Closing_Time>5pm</Closing_Time>
</store>